*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.aider*
.beads/
.devenv*
.direnv/
.env
.idea/
.pre-commit-config.yaml
.vscode
/**/*.qcow2
/.direnv/
/.pre-commit-config.yaml
/.tmp
/keys/
/logs/
/result
dev-debug.log
devenv.local.nix
logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
