*.db
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*/target/
.DS_Store
.aider*
.beads-credential-key
.devenv*
.direnv/
.dolt/
.env
.idea/
.pre-commit-config.yaml
/**/*.qcow2
/.direnv/
/.maestro/
/.pre-commit-config.yaml
/.roam/
/.tmp
/keys/
/logs/
/result
dev-debug.log
devenv.local.nix
hosts/**/result
logs
node_modules/
npm-debug.log*
target/
yarn-debug.log*
yarn-error.log*
