<Config>
  <BindAddress>*</BindAddress>
  <Port>6969</Port>
  <SslPort>6970</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>d1572cecdcb78726a0b9e1e11e274fbefcb41c42aa2a595076cc3b776aef715e</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <Branch>master</Branch>
  <LogLevel>debug</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Whisparr</InstanceName>
</Config>
