layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="scratch" {
    pane {
      cwd "/home/tom"
    }
  }

  tab name="processes" {
    pane {
      cwd "/home/tom"
      command "btop"
    }
  }

  tab name="media" {
    pane {
      cwd "/home/tom"
      command "pulsemixer"
    }
  }

  tab name="configuration" {
    pane {
      cwd "/home/tom/.dotfiles"
    }
  }

  tab name="code" {
    pane {
      cwd "/home/tom/Code"
    }
  }
}

keybinds {
  normal {
    unbind "Ctrl q"
  }
}
