layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="txt" {
    pane split_direction="vertical" {
      pane {
        cwd "/home/tom"
      }
      pane {
        cwd "/home/tom"
        command "calcurse"
      }
    }
  }

  tab name="sys" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          cwd "/home/tom"
          command "fastfetch"
        }
        pane {
          cwd "/home/tom"
          command "lnav"
          args "-e" "journalctl -f"
        }
      }
      pane {
        cwd "/home/tom"
        command "btop"
      }
    }
  }

  tab name="net" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          cwd "/home/tom"
          command "gping"
          args "google.com"
        }
        pane {
          cwd "/home/tom"
          command "sudo"
          args "bandwhich"
        }
      }
      pane split_direction="horizontal" {
        pane {
          cwd "/home/tom"
          command "nmtui"
        }
        pane {
          cwd "/home/tom"
          command "bluetuith"
        }
      }
    }
  }

  tab name="dsk" {
    pane split_direction="horizontal" {
      pane {
        cwd "/home/tom"
        command "broot"
      }
      pane {
        cwd "/home/tom"
        command "ranger"
      }
    }
  }

  tab name="mda" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          cwd "/home/tom"
          command "pulsemixer"
        }
        pane {
          cwd "/home/tom"
          command "spotify_player"
        }
      }
      pane {
        cwd "/home/tom"
        command "watch"
        args "-n" "2" "wpctl" "status"
      }
    }
  }

  tab name="cfg" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          cwd "/home/tom/.dotfiles"
        }
        pane {
          cwd "/home/tom/.dotfiles"
          command "lazygit"
        }
      }
      pane {
        cwd "/home/tom/.dotfiles"
        command "nvim"
      }
    }
  }

  tab name="vim" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          cwd "/home/tom/Code"
        }
        pane {
          cwd "/home/tom/Code"
        }
      }
      pane split_direction="vertical" {
        cwd "/home/tom/Code"
      }
    }
  }
}

keybinds {
  normal {
    unbind "Ctrl q"
  }
}
