layout {
  tab name="scratch" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane {
      cwd "/home/tom"
    }

    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="processes" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane {
      cwd "/home/tom"
      command "glances"
    }

    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="configuration" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane {
          cwd "/home/tom/.dotfiles"
        }
      }
    }

    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="media" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane {
      cwd "/home/tom"
      command "pulsemixer"
    }

    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="code" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }

    pane {
      cwd "/home/tom/Code"
    }

    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}

keybinds {
  normal {
    unbind "Ctrl q"
  }
}
