name: Check

on:
  workflow_run:
    workflows: ["Format"]
    types:
      - completed

jobs:
  nix-check:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        host: [drakkar, huginn, mimir, muninn]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
          sha: ${{ github.event.workflow_run.head_sha }}

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Install Cachix
        uses: cachix/cachix-action@v14
        with:
          name: devenv

      - name: Nix Flake Check
        run: nix flake check hosts/${{ matrix.host }}

      - name: Nix Build Dry Run
        run: nix build --dry-run hosts/${{ matrix.host }}#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel

